<h2> User info</h2>
<div>
  <%= image_tag @user.get_profile_image %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th>user.info</th>
      </tr>

    </tbody>
  </table>
</div>